@import "font.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --font-heading: "Black Han Sans", sans-serif;
    --font-text: "Pretendard-Regular";
    --font-handwrite: "iceJaram-Rg";

    --font-weight-light: 100;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --text-light: #f8f9fa;
    --text-light-2: #e9ecef;
    --text-light-3: #dee2e6;
    --text-dark: #343a40;
    --text-dark-2: #495057;
    --text-dark-3: #6c757d;
    --text-highlight-light: #ffffff;
    --text-highlight-dark: #1f354a;
    --text-muted: #6c757d;
    --text-success: #28a745;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-info: #17a2b8;
    --background-light: #e5e8ed;
    --background-light-2: #d1d5dc;
    --background-light-3: #c3c9d1;
    --background-dark: #20262b;
    --background-dark-2: #434e57;
    --background-dark-3: #6e7a81;
}
body {
    font-family: var(--font-text), sans-serif;
    color: var(--text-color);
    background: linear-gradient(135deg, var(--background-color-2), var(--background-color-3), var(--background-color));
    margin: 0;
    padding: 0;

    --text-color: var(--text-dark);
    --text-color-2: var(--text-dark-2);
    --text-color-3: var(--text-dark-3);
    --text-highlight: var(--text-highlight-dark);
    --background-color: var(--background-light);
    --background-color-2: var(--background-light-2);
    --background-color-3: var(--background-light-3);
}
body.dark {
    --text-color: var(--text-light);
    --text-color-2: var(--text-light-2);
    --text-color-3: var(--text-light-3);
    --text-highlight: var(--text-highlight-light);
    --background-color: var(--background-dark);
    --background-color-2: var(--background-dark-2);
    --background-color-3: var(--background-dark-3);
}
::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
    overflow: hidden;
}
section:not(:first-child) > h2 {
    font-family: var(--font-heading), sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, transparent 50%, var(--background-color) 50%);
    padding: 0 20px;
}
@media (max-width: 900px) {
    section {
        padding: 20px;
    }
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:visited {
    color: var(--text-color);
}
a:hover {
    color: var(--text-color);
}

button {
    font-family: var(--font-text), sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
}

#app {
    display: flex;
}


@media print {
    main {
        height: fit-content;
    }
    section {
        width: 100vw;
        min-height: 100vh;
        padding: 0!important;
        margin: 0!important;
        gap: 0!important;
    }
    section:not(:first-child) > h2 {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: var(--font-text), sans-serif;
        font-size: 90px;
        font-weight: bold;
        writing-mode: vertical-lr;
        background-image: url("./assets/logo.png");
        background-position: center;
        background-size: 900px;
        background-repeat: no-repeat;
        padding: 60px 40px;
        opacity: 0.3;
    }
    section:not(:first-child) > h2::after {
        content: "MRKB";
        justify-self: flex-end;
        align-self: flex-end;
        margin-top: auto;
    }
}